body{
    background-color:#0D152C;
    color:#1887FB;
    text-align: center;
}
header{
    font-size: 2.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

main{
    font-size: 200%;
    padding: 5rem;
}

h1{
font-family: 'Merriweather';
}

p:not(.no-underline){
    text-decoration: underline solid red;
}

footer{
    font-size: 1.7rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}